@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif; /* Updated to use Nunito */
}

html, body{
  height: 100%;
  width: 100%;
}
.page{
  height: 100%; 
  width: 100%;
}